body{
    background-color:skyblue;
    font-family:Arial;
}
div{
    background:white;
    width:500px;
    margin:auto;
    margin-top:40px;
    padding:20px;
    border-radius:10px;
}
h1{
    text-align:center;
    color:darkblue;}
input,textarea{
    width:100%;
    margin:8px;
    padding:8px;
}
button{
    background:green;
    color:white;
    border:none;
    padding:10px 20px;
}
